{% extends 'layouts.html' %}
{% block css %}
    <style>
        {#table {#}
        {#    table-layout: fixed;#}

        {##}
        {#td {#}
        {#    white-space: nowrap;#}
        {#    overflow: hidden;#}
        {#    text-overflow: ellipsis;#}

        {#a {#}
        {#    text-decoration:none;#}
    </style>
{% endblock %}
{% block page-main %}
    {% load static %}
    <div class="content-inner">
        <!-- Page Header-->
        <header class="page-header">
            <div class="container-fluid">
                <h2 class="no-margin-bottom">数据展示</h2>
            </div>
        </header>
        <!-- Breadcrumb-->
        <div class="breadcrumb-holder container-fluid">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Tables</li>
            </ul>
        </div>
        <section class="tables align-content-center">
            <div class="container-fluid">

                <div class="row">
                    <div class="card">
                        <div class="card-header d-flex align-items-center">
                            <div class="div" id="ll">
                                <a href="{% url 'tables' %}" class="btn btn-default" style="text-decoration:none;">全部预览</a>
                                <a href="{% url 'mobile' %}" class="btn btn-default" style="text-decoration:none;">手机端</a>
                                <a href="{% url 'computer' %}" class="btn btn-default" style="text-decoration:none;">电脑端</a>

                                {#                                <button><a href="{% url 'uploadps' %}" class="text-black" style="text-decoration:none;">图片上传</a>#}
                                {#                                </button>#}
                                {#                                <button><a href="#" class="text-black" style="text-decoration:none;">视频上传</a>#}
                                {#                                </button>#}
                            </div>
                        </div>
                        {% block pp %}

                        {% endblock %}
                    </div>
                </div>
            </div>
        </section>
        <!-- Page Footer-->
        {% include 'bottombar.html' %}
    </div>
{% endblock %}
{% block js %}
{#    <script type="text/javascript" src="{% static 'vendor/jquery/jquery.min.js' %}"></script>#}
{#<script type="text/javascript">#}
{#    $('#ll a').on('click', function (e) {#}
{#        $(this).addClass("active")#}
{#    })#}

{#</script>#}
{% endblock %}
